:root {
  --optionColor1: #0d3b66;
  --optionColor2: #faf0ca;
  --optionColor3: #f4d35e;
  --optionColor4: #ee964b;
  --optionColor5: #f95738;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--optionColor1);
  background-color: var(--optionColor2);
}
button {
  cursor: pointer;
  text-decoration: none;
  border: 0;
}
/* Remove list styles on ul */
ul {
  list-style: none;
}
/* Remove text-decoration styles on a  */
a {
  text-decoration: none;
  color: var(--optionColor2);
}
p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--optionColor2);
}
.hidden {
  display: none;
}
